@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Exo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}
p.heading {
    margin-top: 15px;
    align-self: center;
    font-size:3em;
    color: white;
    -webkit-animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both alternate infinite;
            animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both alternate infinite;
}
p#details {
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 1.2em;
}
ol#howTo {
    list-style-position: inside;
    margin:30px;
    font-size: 1.2em;
    color: white;
    line-height: 1.5;
    text-align: justify;
}
ol li#howToList {
    margin: 5px;
}

@-webkit-keyframes tracking-out-contract {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0.5;
    }
    100% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
}
@keyframes tracking-out-contract {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0.5;
    }
    100% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
}
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    color: #1f1f1f;
    font-size: 32px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 0.6;
  }

/* DESKTOP VERSION */
@media screen and (min-width: 600px) {
    .slider {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 60%;
        -webkit-box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
        align-self: center;
    }

    a.menu-option {
        text-decoration: none;
        color: white;
        margin: 10px;
        display: block;
        border: 3px solid #7923abbe;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 30px;
        text-align: center;
    }
    a.menu-option:hover {
        background-color: #7923ab;
    }
    a#selected {
        background-color: #7923ab;
    }
    .head {
        width: 1250px;
        top: 50px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        font-size: x-large;
    }

    .content {
        width: 1250px;
        height: auto;
        background-color: rgba(208, 207, 207, 0.29);
        position: absolute;
        top: 150px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin-bottom: 50px;
    }
    .img-sample {
        height: 150px;
        width: 10%;
    }

    p#about {
        margin: 30px;
        color: white;
        font-size: 1.4em;
        text-align: justify;
        font-weight: 500;
        
    }
    h1#about {
        align-self: left;
        margin-left: 30px;
        color: white;
    }
    p#links {
        align-self: center;
    }
}


/* MOBILE VERSION */

@media screen and (max-width: 599px) {
    a {
        -webkit-tap-highlight-color: transparent;
    }
    .head {
        width: 100%;
        top: 25px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        font-size: large;
    }
    a.menu-option {
        text-decoration: none;
        color: white;
        display: block;
        border: 2px solid #7923abbe;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 30px;
        text-align: center;
    }
    a.menu-option:active {
        background-color: #7923ab;
    }
    .content {
        width: 100%;
        height: auto;
        position: absolute;
        top: 75px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .slider {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 98%;
        -webkit-box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
        align-self: center;
    }
    p#about {
        margin: 0px;
        color: white;
        font-size: 1.1em;
        text-align: justify;
        font-weight: 500;
        /* background-color: rgba(111, 111, 111, 0.342); */
        padding: 30px;
    }
    p#details {
        text-align: justify;
        margin: 30px;
    }
    h1#about {
        text-align: center;
    }
    p#links {
        align-self: center;
    }

}
  